<%- include("templates/header") %> 

    <h2> Hey there! :) </h2>
    <p> This is the home page. Sign up or login to proceed further! </p>
    <button onclick="window.location.href='/signup'"> Sign up </button> <br>
    <button onclick="window.location.href='/login'"> Log in </button>

<%- include("templates/footer") %> 