<%- include("templates/header") %> 

    <h3> Hey there! ^_^ </h3>
    <p> This is the landing page. Sign up or login to proceed further! </p>
    <br>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/logIn'"> Log in </button>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/signUp'"> Sign up </button>

<%- include("templates/footer") %> 