<%- include("templates/header") %> 

    <h3> Logging in! </h3>
    <form action='/logInUser' method='post'>
        <input name='username' type='text' placeholder='username'> <br>
        <input name='password' type='password' placeholder='password'> <br>
        <br>
        <button> Submit </button>
    </form>

<%- include("templates/footer") %> 