<%- include("templates/header") %> 

	<p> Oops! <%= error %>. Try again! </p>
	<br>
	<button type="button" class="btn btn-primary me-2" onclick="window.location.href='/logIn'"> Retry </button>

<%- include("templates/footer") %> 