<%- include("templates/header") %> 

    <p> Oops! Incorrect password. Try again! </p>
    <br>
    <button onclick="window.location.href='/login'"> Retry </button>

<%- include("templates/footer") %> 