<%- include("templates/header") %> 

	<p> Oops! Username is not allowed to be empty. Try again! </p>
	<br>
	<button onclick="window.location.href='/login'"> Retry </button>

<%- include("templates/footer") %> 