<%- include("templates/header") %> 

    <h3> Hey there, <%= username %>! </h3>
    <p> You're logged in. Head to the member area to see more! </p>
    <br>
    <button onclick="window.location.href='/members'"> Go to Members Area </button> <br>
    <button onclick="window.location.href='/logout'"> Logout </button>

<%- include("templates/footer") %> 
