<%- include("templates/header") %> 

    <h3> You are logged out </h3>
    <p> See you next time! </p>
    <br>
    <button type="button" class="btn btn-primary" onclick="window.location.href='/logIn'"> Landing Page </button>

<%- include("templates/footer") %> 
