<%- include("templates/header") %> 

    <p> <%= error %>. </p>
    <p> Give it another try. </p>
    <br>
    <button type="button" class="btn btn-primary me-2" onclick="window.location.href='/signUp'"> Retry </button>

<%- include("templates/footer") %>