<%- include("templates/header") %> 

    <h3> Signing up! </h3>
    <form action='/signUpUser' method='post'>
        <input name='username' type='text' placeholder='username'> <br>
        <input name='email' type='email' placeholder='email'> <br>
        <input name='password' type='password' placeholder='password'> <br>
        <br>
        <button type="button" class="btn btn-primary me-2"> Submit </button>
    </form>

<%- include("templates/footer") %> 